<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VerthashManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <VerthashManager.Properties.Settings>
            <setting name="MinerPath" serializeAs="String">
                <value>miner\VerthashMiner.exe</value>
            </setting>
            <setting name="ConfigPath" serializeAs="String">
                <value>config_file.conf</value>
            </setting>
            <setting name="DefaultUrl" serializeAs="String">
                <value>Url = "stratum+tcp://p2p-spb.xyz:9171"</value>
            </setting>
            <setting name="DefaultUser" serializeAs="String">
                <value>Username = "VohNzJs4EPzG76UGsskm6XKh8P84sndcqy"</value>
            </setting>
            <setting name="DefaultPort" serializeAs="String">
                <value>8000</value>
            </setting>
        </VerthashManager.Properties.Settings>
    </userSettings>
</configuration>